.page {
	min-width: 900px;
	max-width: 1600px;
	width: 100%; 
	margin: 0 auto;
	position: relative;
}

.main-tex{
	font-family: Times new Roman;
	font-weight: 700;
	font-stretch: condensed;
	font-style: oblique;
	color: 	#FFFFFF;
}

.font{
	font-family: Times new Roman;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 48px;
	color: 	#000000;	
}

h2 {
	position: relative;
    top: 200px;
    left: 90px;
    box-sizing: border-box;
	padding: 10px 50px 10px 10px;
}

h3 {
	position: absolute;
	top: 440px;
	left: 530px;
	font-family: SEGOE PRINT;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 24px;
	color: 	#FFFFFF;
	z-index: 2;
}

h4 {
	position: relative;
	bottom: 500px;
    left: 800px;
    box-sizing: border-box;
	padding: 10px 40px 10px 10px;	
}

.header-wrapper {
	height: 450px;
	border: 1px solid #ccc transparent;
	background-image: : url(img/1612493783_74-p-serii-fon-yutub-90);
	background-size: cover;
}

.name {
    position: relative;
    top: 10px;
    left: 900px;
   	border: 1px solid  #ccc transparent;
	padding: 20px 2000px 10px 20px;
	font-size: 96px;
}

.profession {
    position: relative;
    bottom: 10px;
    left: 900px;
    box-sizing: border-box;
	border: 1px solid  #ccc transparent;
	padding: 10px 50px 10px 10px;
	font-size: 36px;
} 

.photo {
	height: 400px;
	width: 300px;
	position: absolute;
	top: 50px;
	left: 50px;
	box-sizing: border-box;
}

.photo-border {
	height: 400px;
	width: 300px;
	position: absolute;
	top: 10px;
	left: 100px;
	box-sizing: border-box;
	border: 4px solid black; 
}

.about {
	height: 250px;
	width: 500px;
	position: absolute;
	top: 250px;
	left: 440px;
	box-sizing: border-box;
	background-color: #959191;
	padding: 60px 30px 10px 30px;
	text-indent: 5px;
	font-family: SEGOE PRINT;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 20px;
	color: 	#FFFFFF;
}


.education__list {
	margin-top: 250px;
}

.education__year {
	font-family:Times new Roman;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 24px;
  	color: black;
}

.education__place {
	font-family: times new roman;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 24px;
  	color: black;
}

.education__description {
	font-family: light italic;
	font-weight: 100;
	font-stretch: ultra-condensed;
	font-style: italic;
	font-size: 24px;
  	color: black;
}

.skill__list {
	position: relative;
	bottom: 500px;
	left: 800px;	
}

.skill {
	font-family: light italic;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 24px;
	color: 	#000000;	
}

.contacts__list {
	position: relative;
	bottom: 500px;
	left: 800px;	
}

.contacts {
	font-family: light italic;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 24px;
	color: 	#000000;	
}

.name-code {
	position: relative;
	bottom: 500px;
	left: 200px;
	font-family: light italic;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 48px;
	color: 	#000000;	
}

code {
	position: absolute;
	bottom: 200px;
	left: 50px;
	font-family: light italic;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	font-size: 40px;
	color: 	#000000;	
}

.footer {
	height: 150px;
	border: 1px solid #ccc transparent;
	background: url(img/1612493783_74-p-serii-fon-yutub-90) center;
	background-size: cover;
}

.github {
	position: absolute;
	bottom: 10px;
	left: 100px;
	font-family: light italic;
	font-size: 28px;
	color: 	#000000;
}

.resschool-logo {
	height: 100px;
	width: 150px;
	position: relative;
	top: 20px;
	left: 1200px;
	box-sizing: border-box;
}
